

body {
    margin: 0;
    min-height: 100%;
    font-weight: 300;
    color: black;
    position: relative;
    font-family: 'Noto Sans', sans-serif;
    font-size: 12pt;
    text-align: left;
    background-color: white;
    height: 100%;
    width: 100%;
}


h2 {

    float:left;
    width:100%;
    padding-bottom:3px;
	zoom: 1;
}

h1{
    border-bottom:1px solid #CCC;
}

#photo {
	display: block;
    margin-left: auto;
    margin-right: auto;
    height: 90%;
	position: relative;
	
}

#display {
	height: 85vh;
	position: relative;
	
}

#banner {
	height: 10vh;
	position: relative;
    padding: 10px;
}

#zoom {
	position: absolute;
	border: none;
	display: inline-block;
	width: 40px;
	height: 40px;
}

/*
Works cited:
www.scrimba.com Learn JavaScript Course
*/

.forward, .back {
/*
	cursor: pointer;
	position: absolute;
	top: 50%;
	color: gray;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
*/
height: 80px;
width: 80px;
border: none;
background: none;
cursor: pointer;
}

.forward{
    left: 10%;
}

.back {
  right: 10%;
}

.rows{
    background-color: red;
    width: 100%;
    height: 150px;
}

